{% extends "base.html" %}

{% block title %}Instellingen - {{ active2 }}{% endblock %}

{% block content %}

<div class="container-fluid d-flex flex-column flex-md-row">

  <nav class="nav-pills navbar-expand-md navbar-light d-flex flex-md-column pt-3" style="width:150px;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLeft" aria-controls="navbarLeft" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-items-md-start pt-4 w-100" id="navbarLeft">
      <div class="navbar-nav w-100 d-flex flex-md-column text-center text-md-start">
        <a class="nav-link mb-3 text{% if active2 == "Algemeen" %}-white active" aria-current="page"{% else %}-black"{% endif %} href="{{ url_for('config.config_general') }}">Algemeen</a>
        <a class="nav-link mb-3 text{% if active2 == "Traccar" %}-white active" aria-current="page"{% else %}-black"{% endif %} href="{{ url_for('config.config_traccar') }}">Traccar</a>
        <a class="nav-link mb-3 text{% if active2 == "Backup" %}-white active" aria-current="page"{% else %}-black"{% endif %} href="#">Backup</a>
      </div>
    </div>
  </nav>

  <main style="width:100%;">
   {% block config_content %}{% endblock %}
  </main>

</div>
{% endblock %}
